	/* CSS personalizado */


/* Geral */
@font-face {
		font-family: Open_Sans;
		src:url('../fonts/opensans-regular-webfont.woff');
	}
@font-face {
		font-family: Open_Sans_SemiBold;
		src:url('../fonts/opensans-semibold-webfont.woff');
	}
@font-face {
		font-family: Open_Sans_Light;
		src:url('../fonts/opensans-light-webfont.woff');
	}


	h1{
		font-weight: bold;
		margin-bottom: 5%;
	}

	h2{
		font-family: Open_Sans_SemiBold;
		text-align: justify;
	}	

	h3{
		font-family: Open_Sans_SemiBold;
		text-align: justify;
	}
	p{
		font-family: Open_Sans_Light;
		text-align: justify;
		font-size: 100%;
	}

*{
	font-family: Open_Sans;
}
	
	


	 html, body {
	      margin: 0;
		  padding: 0px;
 
		}
		.branco{
			background: white;
		}
		.slide{
			height: 100% !important;
		}
		.navbar_cor {
                background-color: #3c4759;
            }

         .fileUpload {
		    position: relative;
		    overflow: hidden;
		    margin: 20px;
		    border-radius: 0px;
		    font-size: 15px !important;
		}
		.fileUpload input.upload {
		    position: absolute;
		    top: 0;
		    right: 0;
		    margin: 0;
		    padding: 0;
		    cursor: pointer;
		    opacity: 0;
		}

	    .wrapper {
	      min-height: 100%;
	      margin-bottom: -50px;
	    }
	.footer,.push {
	      height: 50px;
		  bottom: 0px;
	}
	.seta{
		margin-top: 40%;
	}
	.linhapreta{
	    border: solid black 1px;
	}
	.amarelo{
		background: #f4ce51;
	}
	.botao_amarelo{
		background: #f4ce51;
		width: 65%;
		border-color: #f4ce51;
		border-radius: 0 !important;
		color: #3c4759;
	}
	.botao_amarelo:hover{
		background: #cfa40e;
		width: 65%;
		border-color: #cfa40e;
		border-radius: 0;
		color: #29303c;
	}

	.botao_verde{
		background: #49ce40 !important;
		border-color: #49ce40 !important;
		border-radius: 0 !important;
		color: #3c4759 !important;
	}
	.botao_verde:hover{
		background: #3eaf36 !important;
		border-color: #3eaf36 !important;
		border-radius: 0 !important;
		color: #29303c !important;
	}

	.botao_vermelho{
		background: #e83333 !important;
		border-color: #e83333 !important;
		border-radius: 0 !important;
		color: #3c4759 !important;
	}
	.botao_vermelho:hover{
		background: #b72f2f !important;
		border-color: #b72f2f !important;
		border-radius: 0 !important;
		color: #29303c !important;
	}
	
	.botao_preto{
		background: #333232;
		width: 80%;
		border-color: gray;
		border-radius: 0 !important;
		color: white;
	}
	.botao_preto:hover{
		background: black;
		width: 80%;
		border-color: gray;
		border-radius: 0;
		color: #fff;
	}

	.links_admin{
		margin-top:4%;
		margin-bottom:4%; 
	}

	.letra_branca{
		color: white;
	}

	/*Radio*/
	.meio_radio{
		margin-left: -5%; 
	}
	.centro_radio{
		margin-left: 5%;
	}

	input[type="radio"]{
		display: none;
	}
	input[type="radio"] + label{
		background:#f4ce51; 
		width: 100%;
		padding: 5px 10px 5px 5px;
	}
	input[type="radio"]:checked + label{
		background:#cfa40e;
	}
	/*Fecha radio*/

	.margem_righ{
		margin-right: 1%; 
	}
	.espaco_cabecalho{
	    padding-top: 8%;
	    padding-bottom: 2%;
	}

	.espaco_cabecalho_admin{
		padding-top: 10%;
	    padding-bottom: 2%;
	}

	.menu_admin{
		margin-top: 10% !important;
	}
	.espaco_right_mesma_linha{
	padding: 0 0 0 2% !important; 
	}
	.espaco_left_mesma_linha{
		padding:0 2% 0 0 !important; 
	}
	
	.tamanho_100{
		background: #f4ce51;
		width: 100%;
		border-color: #f4ce51;
		border-radius: 0 !important;
		color: #3c4759;
	}
	.tamanho_100:hover{
		background: #cfa40e;
		width: 100%;
		border-color: #cfa40e;
		border-radius: 0;
		color: #29303c;
	}
	.letra_amarela{
		color: #f4ce51;
		text-transform: none;
	}
	.centro{
		text-align: center;
	}
/* Final do Geral */

/*Index*/

.modal-login-header
            {
                color: #fff;
                background: #29303c;
            }

            .modal-login-body
            {
                color: #fff;
                background: #3c4759;
            }
	/*Menuzinho*/
		#tudo{
			width: 20%;
			height: 50%;
			background: rgba(244, 206, 81, 1);
		}
	/*Fecha menuzinho*/
	.espaco_botao{
		margin-top:25%; 
	}

	.seta_slide{
		margin-top: 8%; 
		background-color: #7c7f9e;
	}

	.espaco_slide{
		margin-top: 55%; 
	}
	.fundo_lilas{
		width: 100%;
		height: 60%;
		background: #9799B2;
		margin-top: 20%;
		padding-left:10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	.recuo{
		margin-top: 10%;
		margin-left: 10%;
		margin-right: 50%;
	}

	.espaco{
		padding-bottom: 15%;
	}

	.img_direita {
		margin-left: 30% !important;
	}
	.img_direita_conteudo {
		margin-left: 20% !important;
	}
/*Fecha index*/


/*Rodapé*/

	.cor_clara_rodape{
	    background:#3c4759;
	    border: none;
	    color: white;
	   
	}
	.cor_escura_rodape{
	    background: #29303c;
	    border: none;
	    border-radius: 0;
	    color: white;
	}
	.espaco_rodape{
		padding-bottom: 3%;
	    padding-top: 3%;
	}
	.botao_margin{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.espaco_left_rodape{
		margin-left: 5%;
	}
	.espaco_right{
		margin-right: 5%;
	}
	.letra_grande_rodape{
		font-size:130%; 
	}
	.letra_cinza_rodape{
		color:gray;
	}
	.facebook{
		background: url('../img/facebook.png');
		width: 40px;
		height: 40px;
	}
	.facebook:hover{
		background: url('../img/facebook_branco.png');
		width: 40px;
		height: 40px;
	}
	.twitter{
		background: url('../img/twitter.png');
		width: 40px;
		height: 40px;
	}
	.twitter:hover{
		background: url('../img/twitter_branco.png');
		width: 40px;
		height: 40px;
	}
	.insta{
		background: url('../img/instagram.png');
		width: 40px;
		height: 40px;
	}
	.insta:hover{
		background: url('../img/instagram_branco.png');
		width: 40px;
		height: 40px;
	}
	.rede_social_rodape li{
		 float: left;
	    list-style: none;
	}

/* Fecha Rodapé*/

/* Conteudos */

	.botton_padding_conteudos{
		padding-bottom: 5%;	
	}

	/* Fecha Conteudos*/

	.margem_top{
		margin-top: 8%;
	}
	/* Descontos */

	.botton_padding_descontos{
		padding-bottom: 4.5%;	
	}

	.padding_rodape{
		padding-bottom: 3%;
	    padding-top: 3%;
	}

	.botao_buscar_desconto{
		display: block;
		width: 100%;
		background: #f4ce51;
		border-color: #f4ce51;
		border-radius: 0;
		color: #3c4759;
	}
	.botao_buscar_desconto:hover{
		display: block;
		width: 100%;
		background: #cfa40e;
		border-color: #cfa40e;
		color: #29303c;
		border-radius: 0;
	}

	.formulario_section{
	    padding-top: 10%;
	    background: url('../img/vetores/136.jpg');
	    background-position: 20% 70%;
	    padding-bottom: 2%;
	}
	.ebooks_section {
	    padding-top: 2%;
	    text-align: center;
	}

	.ebooks_section_color{
		background: #29303c;
		color: white;
	}
/* Fecha descontos */

/* Detalhes_curso */
	
	.fundo_rosa_detalhes_curso{
		background: #ffaf87;
	}
	.fundo_azul_detalhes_curso{
		background: #4ecdc4;
	}
	#map-container { height: 400px
		}
	.espaco_bot{
		padding-bottom:2%; 
	}
	.bordas{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.sobrepor{
		margin-left: -6%;
		margin-bottom: 5% !important;
	}
/* Fecha Detalhes_curso */

/*Admin*/
	.fundo_admin{
		background: #313742;
	}
	.linha{
	border-bottom: 3px solid #f4ce51;
	}	
	.top{
		margin-top: 1%; 
	}
	.baixo{
		margin-bottom: 25%;
	}
	.section{
		padding-top: 100px;
	}
	.fixo{
		position: fixed;
		float: left;
		z-index: 2;
		width: 25%;
	}
/*Fecha admin*/

/*Home Professor*/
	.botao_criar_sala{
		padding-bottom: 4%;
		border: none;
	}
/*Fecha professor*/
/*Inscrição*/
	.fundo_inscricao{
		background-image: url('../img/inscricao.png')}
/*Fecha inscrição*/

 .direita_cadastro{
 	margin-left: -3%;
 }
 .esquerda_cadastro{
 	margin-right: -3%;
 }