PORT=3001
DATABASE_URL="postgresql://mandabrain:mandabrain@localhost:5432/mandabrain_v2?schema=public"
JWT_ACCESS_SECRET="troque-por-uma-chave-de-no-minimo-32-caracteres"
JWT_REFRESH_SECRET="troque-por-uma-chave-de-no-minimo-32-caracteres"
